<apex:page standardController="Account" recordSetVar="accounts"> 




        <apex:repeat var="a" value="{!accounts}"> 




            <li> 




                <apex:outputLink value="/{!a.id}" > 




                    {!a.name} 




                </apex:outputLink> 




            </li> 




        </apex:repeat> 




  




</apex:page>