<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
	<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<head>
			<title>Contact Create Page</title>
			<apex:stylesheet value="{!URLFOR($Resource.SLDS0121, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
				<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" />
					<apex:includeScript value="{!URLFOR($Resource.LDS_CONTACT_SCRIPT)}" />
					</head>
					
					<body>
						<div class="slds">
							<h3 class="slds-text-heading--small">Contact Page</h3>
							<div class="slds-form slds-grid">
								
									<div class="slds-cols--padded  slds-size--1-of-1 slds-medium-size--1-of-2">
										<div class="slds-form-element slds-form-element__control slds-is-required">
											<label for="firstName" class="slds-form-element__label">First Name </label>
											<input type="text" class="slds-input" id="firstName" placeholder="Enter first name" />
										</div>
									</div>
									<div class="slds-cols--padded  slds-size--1-of-1 slds-medium-size--1-of-2">
										<div class="slds-form-element slds-form-element__control">
											<label for="lastName" class="slds-form-element__label">Last Name </label>
											<input type="text" class="slds-input" id="lastName" placeholder="Enter last name" />
										</div>
									</div>
							
							</div>
						</div>
					</body>
				</html>
			</apex:page>