<apex:page controller="ContactController" action="{!loadContacts}" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">    

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">    

<head>
  <title>Salesforce Lightning Design System Trailhead Module</title>
  <apex:stylesheet value="{!URLFOR($Resource.SLDS0121, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
</head>    

<body>    

  <!-- REQUIRED SLDS WRAPPER -->
  <div class="slds">    
	<h1>Contact Information</h1>
	<div class="slds-grid"> 

		<div class="slds-col slds-size--2-of-4">{!contacts[0].Name}</div>
		<div class="slds-col slds-size--2-of-4">{!contacts[1].Name}</div>
	</div>    

  </div>
  <!-- / REQUIRED SLDS WRAPPER -->    

  <apex:repeat value="{!contacts}" var="con">
  {!con.Name} <br /> 
  {!con.Id} <br />
  </apex:repeat>

</body>
</html>
</apex:page>